body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.bdr{
    color:orange;
}
.flexible{
    display: flex;
}
.wid{
    width: 50%;
    padding-left: 5%;
}
.wid img{
    width: 70%;
}
.link{
    background-color: orange;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10%;
}
.top{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.ton{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
background-position: right;
}
.diff{
    width: 40%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 40px blue;
    border: 7px solid red;
}
.excpt{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}.foot{
    text-align: center;
}